/node_modules
/public/hot
/public/media
/public/storage
/storage/*
/public/css/*
/public/js/*
/vendor
.env
.scribe
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/push.sh
public/.DS_Store
public/docs
public/img/.DS_Store
.DS_Store
_ide_helper_models.php
_ide_helper.php
.phpstorm.meta.php
