openapi: 3.0.3
info:
  title: Laravel
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://goods4ukraine.kobalt'
paths:
  /api/ads:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  ads:
                    current_page: 1
                    data:
                      -
                        id: 1005
                        user_id: 1001
                        title: asdad
                        slug: asdad
                        description: asd
                        translated_title:
                          en: asdad
                          nl: asdad
                          ru: Асдад
                          ua: asdad
                        translated_description:
                          en: asd
                          nl: asd
                          ru: как
                          ua: asd
                        type: Offered
                        venue: null
                        street: asddsa
                        postcode: asdasd
                        city: adasd
                        country: nl
                        location:
                          type: Point
                          coordinates:
                            - 5.148527
                            - 51.691757
                        created_at: '2022-04-02T07:13:36.000000Z'
                        updated_at: '2022-04-03T10:19:02.000000Z'
                        deleted_at: null
                        category:
                          id: 1
                          name:
                            en: Clothing
                            fr: Vêtements
                            nl: Kleding
                            ru: одежда
                            ua: одяг
                          icon: null
                          color: null
                          created_at: '2022-03-28T09:40:22.000000Z'
                          updated_at: '2022-06-23T11:46:16.000000Z'
                          pivot:
                            ad_id: 1005
                            category_id: 1
                            created_at: '2022-04-02T07:13:36.000000Z'
                            updated_at: '2022-04-02T07:13:36.000000Z'
                        media:
                          '0':
                            id: 5
                            model_type: App\Models\Ad
                            model_id: 1005
                            uuid: 2ed7cc54-368a-460b-adad-42015f6a9b6f
                            collection_name: images
                            name: phppo5VGM
                            file_name: phppo5VGM
                            mime_type: image/png
                            disk: media
                            conversions_disk: media
                            size: 7906910
                            manipulations: []
                            custom_properties: []
                            generated_conversions:
                              large: true
                              thumb: true
                              medium: true
                              single: true
                            responsive_images: []
                            order_column: 4
                            created_at: '2022-04-05T20:26:38.000000Z'
                            updated_at: '2022-04-05T20:26:39.000000Z'
                            original_url: 'https://goods4ukraine.kobalt/media/5/phppo5VGM'
                            preview_url: ''
                          medium: 'https://goods4ukraine.kobalt/media/5/conversions/phppo5VGM-medium.jpg'
                      -
                        id: 1004
                        user_id: 1001
                        title: adasdas
                        slug: adasdas
                        description: dasdasdasd
                        translated_title:
                          en: adasdas
                          nl: adasdas
                          ru: адасдас
                          ua: adasdas
                        translated_description:
                          en: dasdasdasd
                          nl: dasdasd
                          ru: дасдасдасд
                          ua: dasdasdasd
                        type: Offered
                        venue: null
                        street: asdasdadsasd
                        postcode: asd
                        city: asdasd
                        country: nl
                        location: null
                        created_at: '2022-04-02T07:12:48.000000Z'
                        updated_at: '2022-04-02T07:12:48.000000Z'
                        deleted_at: null
                        category:
                          id: 1
                          name:
                            en: Clothing
                            fr: Vêtements
                            nl: Kleding
                            ru: одежда
                            ua: одяг
                          icon: null
                          color: null
                          created_at: '2022-03-28T09:40:22.000000Z'
                          updated_at: '2022-06-23T11:46:16.000000Z'
                          pivot:
                            ad_id: 1004
                            category_id: 1
                            created_at: '2022-04-02T07:12:48.000000Z'
                            updated_at: '2022-04-02T07:12:48.000000Z'
                        media:
                          '0':
                            id: 3
                            model_type: App\Models\Ad
                            model_id: 1004
                            uuid: 023a61c3-df14-4f36-97c6-d3ca24448e48
                            collection_name: images
                            name: phpHaC0Ay
                            file_name: phpHaC0Ay
                            mime_type: image/png
                            disk: media
                            conversions_disk: media
                            size: 516136
                            manipulations: []
                            custom_properties: []
                            generated_conversions:
                              large: true
                              thumb: true
                              medium: true
                              single: true
                            responsive_images: []
                            order_column: 3
                            created_at: '2022-04-02T07:12:48.000000Z'
                            updated_at: '2022-04-02T07:12:49.000000Z'
                            original_url: 'https://goods4ukraine.kobalt/media/3/phpHaC0Ay'
                            preview_url: ''
                          medium: 'https://goods4ukraine.kobalt/media/3/conversions/phpHaC0Ay-medium.jpg'
                      -
                        id: 1003
                        user_id: 1001
                        title: adsasdsad
                        slug: adsasdsad-1
                        description: sadasdasd
                        translated_title:
                          en: adsasdsad
                          nl: adsasdsad
                          ru: реклама
                          ua: adsasdsad
                        translated_description:
                          en: sadasdasd
                          nl: sadasdasd
                          ru: садасдасд
                          ua: sadasdasd
                        type: Offered
                        venue: null
                        street: asdasd
                        postcode: '12312'
                        city: asdad
                        country: nl
                        location: null
                        created_at: '2022-04-02T06:44:46.000000Z'
                        updated_at: '2022-04-02T06:44:46.000000Z'
                        deleted_at: null
                        category:
                          id: 1
                          name:
                            en: Clothing
                            fr: Vêtements
                            nl: Kleding
                            ru: одежда
                            ua: одяг
                          icon: null
                          color: null
                          created_at: '2022-03-28T09:40:22.000000Z'
                          updated_at: '2022-06-23T11:46:16.000000Z'
                          pivot:
                            ad_id: 1003
                            category_id: 1
                            created_at: '2022-04-02T06:44:46.000000Z'
                            updated_at: '2022-04-02T06:44:46.000000Z'
                        media:
                          '0':
                            id: 2
                            model_type: App\Models\Ad
                            model_id: 1003
                            uuid: 6ac94e3a-4aa5-40dc-a7d7-4664af298326
                            collection_name: images
                            name: php7wXlXm
                            file_name: php7wXlXm
                            mime_type: image/png
                            disk: media
                            conversions_disk: media
                            size: 1729562
                            manipulations: []
                            custom_properties: []
                            generated_conversions:
                              large: true
                              thumb: true
                              medium: true
                              single: true
                            responsive_images: []
                            order_column: 2
                            created_at: '2022-04-02T06:44:46.000000Z'
                            updated_at: '2022-04-02T06:44:46.000000Z'
                            original_url: 'https://goods4ukraine.kobalt/media/2/php7wXlXm'
                            preview_url: ''
                          medium: 'https://goods4ukraine.kobalt/media/2/conversions/php7wXlXm-medium.jpg'
                      -
                        id: 1002
                        user_id: 1001
                        title: adsasdsad
                        slug: adsasdsad
                        description: sadasdasd
                        translated_title:
                          en: adsasdsad
                          nl: adsasdsad
                          ru: реклама
                          ua: adsasdsad
                        translated_description:
                          en: sadasdasd
                          nl: sadasdasd
                          ru: садасдасд
                          ua: sadasdasd
                        type: Offered
                        venue: null
                        street: asdasd
                        postcode: '12312'
                        city: asdad
                        country: nl
                        location: null
                        created_at: '2022-04-02T06:39:15.000000Z'
                        updated_at: '2022-04-02T06:39:15.000000Z'
                        deleted_at: null
                        category:
                          id: 1
                          name:
                            en: Clothing
                            fr: Vêtements
                            nl: Kleding
                            ru: одежда
                            ua: одяг
                          icon: null
                          color: null
                          created_at: '2022-03-28T09:40:22.000000Z'
                          updated_at: '2022-06-23T11:46:16.000000Z'
                          pivot:
                            ad_id: 1002
                            category_id: 1
                            created_at: '2022-04-02T06:39:15.000000Z'
                            updated_at: '2022-04-02T06:39:15.000000Z'
                        media:
                          medium: /img/beeldmerk-grijs.svg
                      -
                        id: 1001
                        user_id: 1001
                        title: 'Scan the following QR code using your phone''s authenticator application.'
                        slug: scan-the-following-qr-code-using-your-phones-authenticator-application
                        description: 'Scan the following QR code using your phone''s authenticator application.Scan the following QR code using your phone''s authenticator application.'
                        translated_title:
                          en: 'Scan the following QR code using your phone''s authenticator application.'
                          nl: 'Scan de volgende QR-code met de authenticatietoepassing van uw telefoon.'
                          ru: 'Отсканируйте следующий QR-код, используя приложение для проверки подлинности вашего телефона.'
                          ua: 'Відскануйте наступний QR-код за допомогою програми аутентифікації вашого телефону.'
                        translated_description:
                          en: 'Scan the following QR code using your phone''s authenticator application.Scan the following QR code using your phone''s authenticator application.'
                          nl: 'Scan de volgende QR-code met de verificatietoepassing van uw telefoon. Scan de volgende QR-code met de verificatietoepassing van uw telefoon.'
                          ru: 'Отсканируйте следующий QR-код с помощью приложения для аутентификации на телефоне. Отсканируйте следующий QR-код с помощью приложения для аутентификации на телефоне.'
                          ua: 'Відскануйте наступний QR-код за допомогою програми аутентифікації вашого телефону. Скануйте наступний QR-код за допомогою програми аутентифікації вашого телефону.'
                        type: Offered
                        venue: null
                        street: 'ravelijn 39'
                        postcode: 1823HD
                        city: alkmaar
                        country: nl
                        location:
                          type: Point
                          coordinates:
                            - 4.7649833
                            - 52.6352301
                        created_at: '2022-03-24T21:54:24.000000Z'
                        updated_at: '2022-03-24T21:54:24.000000Z'
                        deleted_at: null
                        category:
                          id: 2
                          name:
                            en: Toys
                            fr: Jouets
                            nl: Speelgoed
                            ru: игрушки
                            ua: іграшки
                          icon: null
                          color: null
                          created_at: '2022-03-28T09:40:22.000000Z'
                          updated_at: '2022-06-23T11:46:16.000000Z'
                          pivot:
                            ad_id: 1001
                            category_id: 2
                            created_at: '2022-04-05T19:51:45.000000Z'
                            updated_at: '2022-04-05T19:51:45.000000Z'
                        media:
                          '0':
                            id: 1
                            model_type: App\Models\Ad
                            model_id: 1001
                            uuid: e8e97461-c8b7-4d48-9aa3-ea22df856f96
                            collection_name: images
                            name: phpAEcApm
                            file_name: phpAEcApm
                            mime_type: image/png
                            disk: media
                            conversions_disk: media
                            size: 4968
                            manipulations: []
                            custom_properties: []
                            generated_conversions:
                              large: true
                              thumb: true
                              medium: true
                              single: true
                            responsive_images: []
                            order_column: 1
                            created_at: '2022-03-24T21:54:24.000000Z'
                            updated_at: '2022-03-24T21:54:25.000000Z'
                            original_url: 'https://goods4ukraine.kobalt/media/1/phpAEcApm'
                            preview_url: ''
                          medium: 'https://goods4ukraine.kobalt/media/1/conversions/phpAEcApm-medium.jpg'
                      -
                        id: 880
                        user_id: 19
                        title: Röntgenoloog
                        slug: rontgenoloog-1
                        description: 'Overal hoorde je op Walcheren niet eens kwaad was omdat i zich in den hoek op den berg waarvan Bavink mij in verbazing achter. Begin Augustus kwam hij in twee wetende oogen had gekeken, zag hij.'
                        translated_title: null
                        translated_description: null
                        type: Wanted
                        venue: null
                        street: Kuiperboulevard
                        postcode: 8431MC
                        city: Zuidlaarderveen
                        country: nl
                        location:
                          type: Point
                          coordinates:
                            - 3.27279
                            - 52.305395
                        created_at: '2022-03-24T21:48:38.000000Z'
                        updated_at: '2022-03-24T21:48:38.000000Z'
                        deleted_at: null
                        category: null
                        media:
                          medium: /img/beeldmerk-grijs.svg
                      -
                        id: 883
                        user_id: 563
                        title: Havenarbeider
                        slug: havenarbeider-1
                        description: 'Hij werd beroerd van dat wonen op de heete keien van een jong meisje, waarvoor ik uit de verte het nabije was geworden en de dichter in hem aanbad haar en hief haar ten troon naast den God van.'
                        translated_title: null
                        translated_description: null
                        type: Offered
                        venue: null
                        street: 'de Jongdreef'
                        postcode: 5011HS
                        city: Westknollendam
                        country: nl
                        location:
                          type: Point
                          coordinates:
                            - 3.343137
                            - 46.60137
                        created_at: '2022-03-24T21:48:38.000000Z'
                        updated_at: '2022-03-24T21:48:38.000000Z'
                        deleted_at: null
                        category: null
                        media:
                          medium: /img/beeldmerk-grijs.svg
                      -
                        id: 1000
                        user_id: 50
                        title: Meteropnemer
                        slug: meteropnemer
                        description: 'IJsel in een nieuwe inval uit zou flitsen. En daarna ook gewichtig zouden zijn geworden misschien, en ook daarna zat ze te veel voorover knikte. "Hè, mensche, ''k dacht waarachtig dattik de tram te.'
                        translated_title: null
                        translated_description: null
                        type: Wanted
                        venue: null
                        street: Everspad
                        postcode: 1141VM
                        city: Burgwerd
                        country: nl
                        location:
                          type: Point
                          coordinates:
                            - 5.138673
                            - 47.721285
                        created_at: '2022-03-24T21:48:38.000000Z'
                        updated_at: '2022-03-24T21:48:38.000000Z'
                        deleted_at: null
                        category: null
                        media:
                          medium: /img/beeldmerk-grijs.svg
                      -
                        id: 999
                        user_id: 5
                        title: Kleuterleider
                        slug: kleuterleider-1
                        description: 'Dat was hinderlijk. Gelukkig liet hij haar al heel weinig in die plassen te kijken, loopende. Ze kende een sentimenteel Duitsch liedje van de week droegen drie van ons onze ketenen van negen tot.'
                        translated_title: null
                        translated_description: null
                        type: Offered
                        venue: null
                        street: Uzunhof
                        postcode: 6049BL
                        city: Vorden
                        country: nl
                        location:
                          type: Point
                          coordinates:
                            - 3.973253
                            - 58.42107
                        created_at: '2022-03-24T21:48:38.000000Z'
                        updated_at: '2022-03-24T21:48:38.000000Z'
                        deleted_at: null
                        category: null
                        media:
                          medium: /img/beeldmerk-grijs.svg
                      -
                        id: 998
                        user_id: 585
                        title: Metaalbrander
                        slug: metaalbrander
                        description: 'Hij raakte bijna de rails nog, onafzienbaar, recht, tot aan de brug. IX. Een groot dichter zijn en dan vallen. In de tram tegenover hem. De huizen waren alle donker en verlaten. Een dame van ''t.'
                        translated_title: null
                        translated_description: null
                        type: Offered
                        venue: null
                        street: 'van den Bergring'
                        postcode: 6538RV
                        city: Zijdewind
                        country: nl
                        location:
                          type: Point
                          coordinates:
                            - 3.176995
                            - 41.359547
                        created_at: '2022-03-24T21:48:38.000000Z'
                        updated_at: '2022-03-24T21:48:38.000000Z'
                        deleted_at: null
                        category: null
                        media:
                          medium: /img/beeldmerk-grijs.svg
                      -
                        id: 997
                        user_id: 719
                        title: Schoolbegeleider
                        slug: schoolbegeleider
                        description: 'Als de eieren in ''t water een eindje van elkaar, met melkglas van boven, fel wit, een prentje om "5 October" onder te schrijven. Er was een kleinigheid op die en die geen vonkje leven in ''t.'
                        translated_title: null
                        translated_description: null
                        type: Offered
                        venue: null
                        street: 'Rahajoe genaamd en geschreven ten Kateweg'
                        postcode: 7312DG
                        city: Mariënheem
                        country: nl
                        location:
                          type: Point
                          coordinates:
                            - 5.317664
                            - 57.052107
                        created_at: '2022-03-24T21:48:38.000000Z'
                        updated_at: '2022-03-24T21:48:38.000000Z'
                        deleted_at: null
                        category: null
                        media:
                          medium: /img/beeldmerk-grijs.svg
                      -
                        id: 996
                        user_id: 332
                        title: Crècheleidster
                        slug: crecheleidster
                        description: 'Hij was toch vast wel een potje bier lusten", zei Japi en leunde z''n hoofd had. "Goddank", zei i toen. "Dat heb ik ook neerzie op Dora, die ikzelf ben, een vrouw nu, een meisje, zoolang de genade.'
                        translated_title: null
                        translated_description: null
                        type: Wanted
                        venue: null
                        street: 'van Daalsteeg'
                        postcode: 6942LX
                        city: Hoenderloo
                        country: nl
                        location:
                          type: Point
                          coordinates:
                            - 5.614614
                            - 52.496599
                        created_at: '2022-03-24T21:48:38.000000Z'
                        updated_at: '2022-03-24T21:48:38.000000Z'
                        deleted_at: null
                        category: null
                        media:
                          medium: /img/beeldmerk-grijs.svg
                      -
                        id: 995
                        user_id: 516
                        title: Poepruimer
                        slug: poepruimer
                        description: 'Er was geen denken aan, dat onder een lantaarn zag ze den grond voer. De kerels werden toen kwaad en een grimmig boek schreef, dat ''m in eens zag ze ''t een zinnelooze optocht, die ''m droefgeestig.'
                        translated_title: null
                        translated_description: null
                        type: Wanted
                        venue: null
                        street: Everssteeg
                        postcode: 5268GE
                        city: Wânswert
                        country: nl
                        location:
                          type: Point
                          coordinates:
                            - 3.307557
                            - 55.781865
                        created_at: '2022-03-24T21:48:38.000000Z'
                        updated_at: '2022-03-24T21:48:38.000000Z'
                        deleted_at: null
                        category: null
                        media:
                          medium: /img/beeldmerk-grijs.svg
                      -
                        id: 994
                        user_id: 757
                        title: Vulkanoloog
                        slug: vulkanoloog-1
                        description: 'Uren": "Hoe gaan de uren zoo zwaar met loggen tred". "Die Kreuzfahrer": "Dort unten lag die heilge Stadt in ihrer Glorie". Dat was ik daarbij. Vroolijk scheen het zonnetje als ''t kan, kom ik.'
                        translated_title: null
                        translated_description: null
                        type: Wanted
                        venue: null
                        street: Kalloestraat
                        postcode: 2022RM
                        city: Marken
                        country: nl
                        location:
                          type: Point
                          coordinates:
                            - 3.490731
                            - 48.351988
                        created_at: '2022-03-24T21:48:38.000000Z'
                        updated_at: '2022-03-24T21:48:38.000000Z'
                        deleted_at: null
                        category: null
                        media:
                          medium: /img/beeldmerk-grijs.svg
                      -
                        id: 993
                        user_id: 36
                        title: Lijstenmaker
                        slug: lijstenmaker
                        description: 'Coba: "Ik geloof uit Shanghai, is ''t niet. En in den rok en toen had dat zoo dikwijls geroepen wordt. En dan kwam i daar altijd zoo stond, gewoon bespottelijk. De andere meisjes in Amsterdam. Oogen.'
                        translated_title: null
                        translated_description: null
                        type: Wanted
                        venue: null
                        street: Wolterssingel
                        postcode: 5298AL
                        city: Tzum
                        country: nl
                        location:
                          type: Point
                          coordinates:
                            - 4.313058
                            - 40.452482
                        created_at: '2022-03-24T21:48:38.000000Z'
                        updated_at: '2022-03-24T21:48:38.000000Z'
                        deleted_at: null
                        category: null
                        media:
                          medium: /img/beeldmerk-grijs.svg
                      -
                        id: 992
                        user_id: 276
                        title: Buitendienstmedewerker
                        slug: buitendienstmedewerker-2
                        description: 'Ik wilde wel, maar ik wist niet meer over zichzelf. Ze zat zoo als wij harder waren dan het kapitalistische gemoed en niets meer te merken, zóó had hij de rails nog, onafzienbaar, recht, tot aan de.'
                        translated_title: null
                        translated_description: null
                        type: Offered
                        venue: null
                        street: 'van Hollandring'
                        postcode: 7315CW
                        city: Rhenen
                        country: nl
                        location:
                          type: Point
                          coordinates:
                            - 3.144453
                            - 44.923741
                        created_at: '2022-03-24T21:48:38.000000Z'
                        updated_at: '2022-03-24T21:48:38.000000Z'
                        deleted_at: null
                        category: null
                        media:
                          medium: /img/beeldmerk-grijs.svg
                      -
                        id: 991
                        user_id: 376
                        title: Mineralenbewerker
                        slug: mineralenbewerker-1
                        description: 'Af en toe ging die z''n hand aangeraakt en gedacht: "hij weet niet waar ''t zeil van een jaar is 365 dagen, tien jaar geleden geloeid had in Amsterdam door, waar ze allebei uit en zoende ''m niet op.'
                        translated_title: null
                        translated_description: null
                        type: Offered
                        venue: null
                        street: Jansenweg
                        postcode: 8141HR
                        city: Pietersbierum
                        country: nl
                        location:
                          type: Point
                          coordinates:
                            - 4.735218
                            - 50.952019
                        created_at: '2022-03-24T21:48:38.000000Z'
                        updated_at: '2022-03-24T21:48:38.000000Z'
                        deleted_at: null
                        category: null
                        media:
                          medium: /img/beeldmerk-grijs.svg
                      -
                        id: 990
                        user_id: 640
                        title: Beenhouwer
                        slug: beenhouwer-1
                        description: 'Maar terwijl meneer afstapte en zij uit de deur open en zat met mijn schoenen tot ze wakker werd doordat ze te veel werd "kwam i de centen van de kamer, ik denk dat we een prachtig stel kerels.'
                        translated_title: null
                        translated_description: null
                        type: Offered
                        venue: null
                        street: 'van Northeimhof'
                        postcode: 2531BH
                        city: Baambrugge
                        country: nl
                        location:
                          type: Point
                          coordinates:
                            - 5.994696
                            - 50.046672
                        created_at: '2022-03-24T21:48:38.000000Z'
                        updated_at: '2022-03-24T21:48:38.000000Z'
                        deleted_at: null
                        category: null
                        media:
                          medium: /img/beeldmerk-grijs.svg
                      -
                        id: 989
                        user_id: 129
                        title: Slachter
                        slug: slachter-2
                        description: 'Cuneratoren, de bloeiende accacia''s en de bedrijfsleer, die vindt, dat je toch niets. Z''n tractement beurt-i met een boekhouder in Amsterdam en overal ging ''t verkeer z''n gang, alsof er bloemen.'
                        translated_title: null
                        translated_description: null
                        type: Wanted
                        venue: null
                        street: Wooninghof
                        postcode: 3985SG
                        city: Wervershoof
                        country: nl
                        location:
                          type: Point
                          coordinates:
                            - 4.207293
                            - 58.343715
                        created_at: '2022-03-24T21:48:38.000000Z'
                        updated_at: '2022-03-24T21:48:38.000000Z'
                        deleted_at: null
                        category: null
                        media:
                          medium: /img/beeldmerk-grijs.svg
                      -
                        id: 988
                        user_id: 6
                        title: Bouwpromotor
                        slug: bouwpromotor-1
                        description: 'En langer. Nu ligt de brug over den weg, die golvend glansde, al die andere is Graafland. Ik ken je me toch liever dan die mooie wijze heeren. ''t Spijt me dat je worst in huis te halen, toen ik aan.'
                        translated_title: null
                        translated_description: null
                        type: Wanted
                        venue: null
                        street: 'van de Walsingel'
                        postcode: 7314BK
                        city: Nieuw-Weerdinge
                        country: nl
                        location:
                          type: Point
                          coordinates:
                            - 3.190464
                            - 47.591942
                        created_at: '2022-03-24T21:48:38.000000Z'
                        updated_at: '2022-03-24T21:48:38.000000Z'
                        deleted_at: null
                        category: null
                        media:
                          medium: /img/beeldmerk-grijs.svg
                      -
                        id: 987
                        user_id: 371
                        title: Kok
                        slug: kok-1
                        description: 'Kees had ook een boel dingen, die erg waar zijn we?" dan moest je mekaar vertellen, je kende mekaar nog zoo heelemaal niet. Hij verlangt zelfs niet naar zes uur. Dat geeft toch niets. Z''n tractement.'
                        translated_title: null
                        translated_description: null
                        type: Offered
                        venue: null
                        street: Ramautarhof
                        postcode: 6915TT
                        city: Groenekan
                        country: nl
                        location:
                          type: Point
                          coordinates:
                            - 5.017557
                            - 53.229535
                        created_at: '2022-03-24T21:48:38.000000Z'
                        updated_at: '2022-03-24T21:48:38.000000Z'
                        deleted_at: null
                        category: null
                        media:
                          medium: /img/beeldmerk-grijs.svg
                      -
                        id: 986
                        user_id: 751
                        title: Receptionist
                        slug: receptionist-2
                        description: 'Is zoo raar van binnen." "Je ruikt tenminste degelijk naar jenever", zei ik. Toen schoven wij de wereld, voor God, voor ons uit de verte het nabije was geworden en de zon prachtig opkwam, is hij te.'
                        translated_title: null
                        translated_description: null
                        type: Wanted
                        venue: null
                        street: Arslanweg
                        postcode: 6021BT
                        city: Geersdijk
                        country: nl
                        location:
                          type: Point
                          coordinates:
                            - 3.34537
                            - 41.548597
                        created_at: '2022-03-24T21:48:38.000000Z'
                        updated_at: '2022-03-24T21:48:38.000000Z'
                        deleted_at: null
                        category: null
                        media:
                          medium: /img/beeldmerk-grijs.svg
                      -
                        id: 985
                        user_id: 343
                        title: Dozenmaker
                        slug: dozenmaker-2
                        description: 'Maar er kwam nooit wat je doen moest, haal voor mijn rekening een half maatje ouwe klare, ik zal ''t je bij gelegenheid wel teruggeven." Ik stond achter hem: "Consummatum est, ga mee en zie." XII. Om.'
                        translated_title: null
                        translated_description: null
                        type: Offered
                        venue: null
                        street: 'Spring in ‘t Veldboulevard'
                        postcode: 4261ZC
                        city: Hasselt
                        country: nl
                        location:
                          type: Point
                          coordinates:
                            - 4.236726
                            - 42.449669
                        created_at: '2022-03-24T21:48:38.000000Z'
                        updated_at: '2022-03-24T21:48:38.000000Z'
                        deleted_at: null
                        category: null
                        media:
                          medium: /img/beeldmerk-grijs.svg
                      -
                        id: 984
                        user_id: 222
                        title: Grondstewardess
                        slug: grondstewardess
                        description: 'Bekker hadden alle drie al zoo vaak naar ''t gele licht van de slaapkamerdeur kwam licht. Haastig gooide ze de kamer binnen gingen. Daar moest ze doen? "Kom Bobi, maak voort, wacht, zal ik je.'
                        translated_title: null
                        translated_description: null
                        type: Wanted
                        venue: null
                        street: 'van de Polhof'
                        postcode: 4698BG
                        city: 'De Zilk'
                        country: nl
                        location:
                          type: Point
                          coordinates:
                            - 5.655145
                            - 53.000122
                        created_at: '2022-03-24T21:48:38.000000Z'
                        updated_at: '2022-03-24T21:48:38.000000Z'
                        deleted_at: null
                        category: null
                        media:
                          medium: /img/beeldmerk-grijs.svg
                      -
                        id: 983
                        user_id: 681
                        title: Bestuurder
                        slug: bestuurder-1
                        description: 'Jan, die oue heer. Dood hè? Al lang dood. Natuurlijk. Waar kom je vandaan, Hoyer? Wat heb ik er over te zien komt achter de blauwe band der voetpaden en kleine boompjes met schel oranjegele.'
                        translated_title: null
                        translated_description: null
                        type: Offered
                        venue: null
                        street: 'van de Greefsingel'
                        postcode: 3608VJ
                        city: Oude-Tonge
                        country: nl
                        location:
                          type: Point
                          coordinates:
                            - 4.877954
                            - 59.077936
                        created_at: '2022-03-24T21:48:38.000000Z'
                        updated_at: '2022-03-24T21:48:38.000000Z'
                        deleted_at: null
                        category: null
                        media:
                          medium: /img/beeldmerk-grijs.svg
                    first_page_url: 'https://goods4ukraine.kobalt/api/ads?page=1'
                    from: 1
                    last_page: 41
                    last_page_url: 'https://goods4ukraine.kobalt/api/ads?page=41'
                    links:
                      -
                        url: null
                        label: '&laquo; Vorige'
                        active: false
                      -
                        url: 'https://goods4ukraine.kobalt/api/ads?page=1'
                        label: '1'
                        active: true
                      -
                        url: 'https://goods4ukraine.kobalt/api/ads?page=2'
                        label: '2'
                        active: false
                      -
                        url: 'https://goods4ukraine.kobalt/api/ads?page=3'
                        label: '3'
                        active: false
                      -
                        url: 'https://goods4ukraine.kobalt/api/ads?page=4'
                        label: '4'
                        active: false
                      -
                        url: 'https://goods4ukraine.kobalt/api/ads?page=5'
                        label: '5'
                        active: false
                      -
                        url: 'https://goods4ukraine.kobalt/api/ads?page=6'
                        label: '6'
                        active: false
                      -
                        url: 'https://goods4ukraine.kobalt/api/ads?page=7'
                        label: '7'
                        active: false
                      -
                        url: 'https://goods4ukraine.kobalt/api/ads?page=8'
                        label: '8'
                        active: false
                      -
                        url: 'https://goods4ukraine.kobalt/api/ads?page=9'
                        label: '9'
                        active: false
                      -
                        url: 'https://goods4ukraine.kobalt/api/ads?page=10'
                        label: '10'
                        active: false
                      -
                        url: null
                        label: ...
                        active: false
                      -
                        url: 'https://goods4ukraine.kobalt/api/ads?page=40'
                        label: '40'
                        active: false
                      -
                        url: 'https://goods4ukraine.kobalt/api/ads?page=41'
                        label: '41'
                        active: false
                      -
                        url: 'https://goods4ukraine.kobalt/api/ads?page=2'
                        label: 'Volgende &raquo;'
                        active: false
                    next_page_url: 'https://goods4ukraine.kobalt/api/ads?page=2'
                    path: 'https://goods4ukraine.kobalt/api/ads'
                    per_page: 25
                    prev_page_url: null
                    to: 25
                    total: 1005
                  location: null
                  sortedBy: created_at
                properties:
                  ads:
                    type: object
                    example:
                      current_page: 1
                      data:
                        -
                          id: 1005
                          user_id: 1001
                          title: asdad
                          slug: asdad
                          description: asd
                          translated_title:
                            en: asdad
                            nl: asdad
                            ru: Асдад
                            ua: asdad
                          translated_description:
                            en: asd
                            nl: asd
                            ru: как
                            ua: asd
                          type: Offered
                          venue: null
                          street: asddsa
                          postcode: asdasd
                          city: adasd
                          country: nl
                          location:
                            type: Point
                            coordinates:
                              - 5.148527
                              - 51.691757
                          created_at: '2022-04-02T07:13:36.000000Z'
                          updated_at: '2022-04-03T10:19:02.000000Z'
                          deleted_at: null
                          category:
                            id: 1
                            name:
                              en: Clothing
                              fr: Vêtements
                              nl: Kleding
                              ru: одежда
                              ua: одяг
                            icon: null
                            color: null
                            created_at: '2022-03-28T09:40:22.000000Z'
                            updated_at: '2022-06-23T11:46:16.000000Z'
                            pivot:
                              ad_id: 1005
                              category_id: 1
                              created_at: '2022-04-02T07:13:36.000000Z'
                              updated_at: '2022-04-02T07:13:36.000000Z'
                          media:
                            '0':
                              id: 5
                              model_type: App\Models\Ad
                              model_id: 1005
                              uuid: 2ed7cc54-368a-460b-adad-42015f6a9b6f
                              collection_name: images
                              name: phppo5VGM
                              file_name: phppo5VGM
                              mime_type: image/png
                              disk: media
                              conversions_disk: media
                              size: 7906910
                              manipulations: []
                              custom_properties: []
                              generated_conversions:
                                large: true
                                thumb: true
                                medium: true
                                single: true
                              responsive_images: []
                              order_column: 4
                              created_at: '2022-04-05T20:26:38.000000Z'
                              updated_at: '2022-04-05T20:26:39.000000Z'
                              original_url: 'https://goods4ukraine.kobalt/media/5/phppo5VGM'
                              preview_url: ''
                            medium: 'https://goods4ukraine.kobalt/media/5/conversions/phppo5VGM-medium.jpg'
                        -
                          id: 1004
                          user_id: 1001
                          title: adasdas
                          slug: adasdas
                          description: dasdasdasd
                          translated_title:
                            en: adasdas
                            nl: adasdas
                            ru: адасдас
                            ua: adasdas
                          translated_description:
                            en: dasdasdasd
                            nl: dasdasd
                            ru: дасдасдасд
                            ua: dasdasdasd
                          type: Offered
                          venue: null
                          street: asdasdadsasd
                          postcode: asd
                          city: asdasd
                          country: nl
                          location: null
                          created_at: '2022-04-02T07:12:48.000000Z'
                          updated_at: '2022-04-02T07:12:48.000000Z'
                          deleted_at: null
                          category:
                            id: 1
                            name:
                              en: Clothing
                              fr: Vêtements
                              nl: Kleding
                              ru: одежда
                              ua: одяг
                            icon: null
                            color: null
                            created_at: '2022-03-28T09:40:22.000000Z'
                            updated_at: '2022-06-23T11:46:16.000000Z'
                            pivot:
                              ad_id: 1004
                              category_id: 1
                              created_at: '2022-04-02T07:12:48.000000Z'
                              updated_at: '2022-04-02T07:12:48.000000Z'
                          media:
                            '0':
                              id: 3
                              model_type: App\Models\Ad
                              model_id: 1004
                              uuid: 023a61c3-df14-4f36-97c6-d3ca24448e48
                              collection_name: images
                              name: phpHaC0Ay
                              file_name: phpHaC0Ay
                              mime_type: image/png
                              disk: media
                              conversions_disk: media
                              size: 516136
                              manipulations: []
                              custom_properties: []
                              generated_conversions:
                                large: true
                                thumb: true
                                medium: true
                                single: true
                              responsive_images: []
                              order_column: 3
                              created_at: '2022-04-02T07:12:48.000000Z'
                              updated_at: '2022-04-02T07:12:49.000000Z'
                              original_url: 'https://goods4ukraine.kobalt/media/3/phpHaC0Ay'
                              preview_url: ''
                            medium: 'https://goods4ukraine.kobalt/media/3/conversions/phpHaC0Ay-medium.jpg'
                        -
                          id: 1003
                          user_id: 1001
                          title: adsasdsad
                          slug: adsasdsad-1
                          description: sadasdasd
                          translated_title:
                            en: adsasdsad
                            nl: adsasdsad
                            ru: реклама
                            ua: adsasdsad
                          translated_description:
                            en: sadasdasd
                            nl: sadasdasd
                            ru: садасдасд
                            ua: sadasdasd
                          type: Offered
                          venue: null
                          street: asdasd
                          postcode: '12312'
                          city: asdad
                          country: nl
                          location: null
                          created_at: '2022-04-02T06:44:46.000000Z'
                          updated_at: '2022-04-02T06:44:46.000000Z'
                          deleted_at: null
                          category:
                            id: 1
                            name:
                              en: Clothing
                              fr: Vêtements
                              nl: Kleding
                              ru: одежда
                              ua: одяг
                            icon: null
                            color: null
                            created_at: '2022-03-28T09:40:22.000000Z'
                            updated_at: '2022-06-23T11:46:16.000000Z'
                            pivot:
                              ad_id: 1003
                              category_id: 1
                              created_at: '2022-04-02T06:44:46.000000Z'
                              updated_at: '2022-04-02T06:44:46.000000Z'
                          media:
                            '0':
                              id: 2
                              model_type: App\Models\Ad
                              model_id: 1003
                              uuid: 6ac94e3a-4aa5-40dc-a7d7-4664af298326
                              collection_name: images
                              name: php7wXlXm
                              file_name: php7wXlXm
                              mime_type: image/png
                              disk: media
                              conversions_disk: media
                              size: 1729562
                              manipulations: []
                              custom_properties: []
                              generated_conversions:
                                large: true
                                thumb: true
                                medium: true
                                single: true
                              responsive_images: []
                              order_column: 2
                              created_at: '2022-04-02T06:44:46.000000Z'
                              updated_at: '2022-04-02T06:44:46.000000Z'
                              original_url: 'https://goods4ukraine.kobalt/media/2/php7wXlXm'
                              preview_url: ''
                            medium: 'https://goods4ukraine.kobalt/media/2/conversions/php7wXlXm-medium.jpg'
                        -
                          id: 1002
                          user_id: 1001
                          title: adsasdsad
                          slug: adsasdsad
                          description: sadasdasd
                          translated_title:
                            en: adsasdsad
                            nl: adsasdsad
                            ru: реклама
                            ua: adsasdsad
                          translated_description:
                            en: sadasdasd
                            nl: sadasdasd
                            ru: садасдасд
                            ua: sadasdasd
                          type: Offered
                          venue: null
                          street: asdasd
                          postcode: '12312'
                          city: asdad
                          country: nl
                          location: null
                          created_at: '2022-04-02T06:39:15.000000Z'
                          updated_at: '2022-04-02T06:39:15.000000Z'
                          deleted_at: null
                          category:
                            id: 1
                            name:
                              en: Clothing
                              fr: Vêtements
                              nl: Kleding
                              ru: одежда
                              ua: одяг
                            icon: null
                            color: null
                            created_at: '2022-03-28T09:40:22.000000Z'
                            updated_at: '2022-06-23T11:46:16.000000Z'
                            pivot:
                              ad_id: 1002
                              category_id: 1
                              created_at: '2022-04-02T06:39:15.000000Z'
                              updated_at: '2022-04-02T06:39:15.000000Z'
                          media:
                            medium: /img/beeldmerk-grijs.svg
                        -
                          id: 1001
                          user_id: 1001
                          title: 'Scan the following QR code using your phone''s authenticator application.'
                          slug: scan-the-following-qr-code-using-your-phones-authenticator-application
                          description: 'Scan the following QR code using your phone''s authenticator application.Scan the following QR code using your phone''s authenticator application.'
                          translated_title:
                            en: 'Scan the following QR code using your phone''s authenticator application.'
                            nl: 'Scan de volgende QR-code met de authenticatietoepassing van uw telefoon.'
                            ru: 'Отсканируйте следующий QR-код, используя приложение для проверки подлинности вашего телефона.'
                            ua: 'Відскануйте наступний QR-код за допомогою програми аутентифікації вашого телефону.'
                          translated_description:
                            en: 'Scan the following QR code using your phone''s authenticator application.Scan the following QR code using your phone''s authenticator application.'
                            nl: 'Scan de volgende QR-code met de verificatietoepassing van uw telefoon. Scan de volgende QR-code met de verificatietoepassing van uw telefoon.'
                            ru: 'Отсканируйте следующий QR-код с помощью приложения для аутентификации на телефоне. Отсканируйте следующий QR-код с помощью приложения для аутентификации на телефоне.'
                            ua: 'Відскануйте наступний QR-код за допомогою програми аутентифікації вашого телефону. Скануйте наступний QR-код за допомогою програми аутентифікації вашого телефону.'
                          type: Offered
                          venue: null
                          street: 'ravelijn 39'
                          postcode: 1823HD
                          city: alkmaar
                          country: nl
                          location:
                            type: Point
                            coordinates:
                              - 4.7649833
                              - 52.6352301
                          created_at: '2022-03-24T21:54:24.000000Z'
                          updated_at: '2022-03-24T21:54:24.000000Z'
                          deleted_at: null
                          category:
                            id: 2
                            name:
                              en: Toys
                              fr: Jouets
                              nl: Speelgoed
                              ru: игрушки
                              ua: іграшки
                            icon: null
                            color: null
                            created_at: '2022-03-28T09:40:22.000000Z'
                            updated_at: '2022-06-23T11:46:16.000000Z'
                            pivot:
                              ad_id: 1001
                              category_id: 2
                              created_at: '2022-04-05T19:51:45.000000Z'
                              updated_at: '2022-04-05T19:51:45.000000Z'
                          media:
                            '0':
                              id: 1
                              model_type: App\Models\Ad
                              model_id: 1001
                              uuid: e8e97461-c8b7-4d48-9aa3-ea22df856f96
                              collection_name: images
                              name: phpAEcApm
                              file_name: phpAEcApm
                              mime_type: image/png
                              disk: media
                              conversions_disk: media
                              size: 4968
                              manipulations: []
                              custom_properties: []
                              generated_conversions:
                                large: true
                                thumb: true
                                medium: true
                                single: true
                              responsive_images: []
                              order_column: 1
                              created_at: '2022-03-24T21:54:24.000000Z'
                              updated_at: '2022-03-24T21:54:25.000000Z'
                              original_url: 'https://goods4ukraine.kobalt/media/1/phpAEcApm'
                              preview_url: ''
                            medium: 'https://goods4ukraine.kobalt/media/1/conversions/phpAEcApm-medium.jpg'
                        -
                          id: 880
                          user_id: 19
                          title: Röntgenoloog
                          slug: rontgenoloog-1
                          description: 'Overal hoorde je op Walcheren niet eens kwaad was omdat i zich in den hoek op den berg waarvan Bavink mij in verbazing achter. Begin Augustus kwam hij in twee wetende oogen had gekeken, zag hij.'
                          translated_title: null
                          translated_description: null
                          type: Wanted
                          venue: null
                          street: Kuiperboulevard
                          postcode: 8431MC
                          city: Zuidlaarderveen
                          country: nl
                          location:
                            type: Point
                            coordinates:
                              - 3.27279
                              - 52.305395
                          created_at: '2022-03-24T21:48:38.000000Z'
                          updated_at: '2022-03-24T21:48:38.000000Z'
                          deleted_at: null
                          category: null
                          media:
                            medium: /img/beeldmerk-grijs.svg
                        -
                          id: 883
                          user_id: 563
                          title: Havenarbeider
                          slug: havenarbeider-1
                          description: 'Hij werd beroerd van dat wonen op de heete keien van een jong meisje, waarvoor ik uit de verte het nabije was geworden en de dichter in hem aanbad haar en hief haar ten troon naast den God van.'
                          translated_title: null
                          translated_description: null
                          type: Offered
                          venue: null
                          street: 'de Jongdreef'
                          postcode: 5011HS
                          city: Westknollendam
                          country: nl
                          location:
                            type: Point
                            coordinates:
                              - 3.343137
                              - 46.60137
                          created_at: '2022-03-24T21:48:38.000000Z'
                          updated_at: '2022-03-24T21:48:38.000000Z'
                          deleted_at: null
                          category: null
                          media:
                            medium: /img/beeldmerk-grijs.svg
                        -
                          id: 1000
                          user_id: 50
                          title: Meteropnemer
                          slug: meteropnemer
                          description: 'IJsel in een nieuwe inval uit zou flitsen. En daarna ook gewichtig zouden zijn geworden misschien, en ook daarna zat ze te veel voorover knikte. "Hè, mensche, ''k dacht waarachtig dattik de tram te.'
                          translated_title: null
                          translated_description: null
                          type: Wanted
                          venue: null
                          street: Everspad
                          postcode: 1141VM
                          city: Burgwerd
                          country: nl
                          location:
                            type: Point
                            coordinates:
                              - 5.138673
                              - 47.721285
                          created_at: '2022-03-24T21:48:38.000000Z'
                          updated_at: '2022-03-24T21:48:38.000000Z'
                          deleted_at: null
                          category: null
                          media:
                            medium: /img/beeldmerk-grijs.svg
                        -
                          id: 999
                          user_id: 5
                          title: Kleuterleider
                          slug: kleuterleider-1
                          description: 'Dat was hinderlijk. Gelukkig liet hij haar al heel weinig in die plassen te kijken, loopende. Ze kende een sentimenteel Duitsch liedje van de week droegen drie van ons onze ketenen van negen tot.'
                          translated_title: null
                          translated_description: null
                          type: Offered
                          venue: null
                          street: Uzunhof
                          postcode: 6049BL
                          city: Vorden
                          country: nl
                          location:
                            type: Point
                            coordinates:
                              - 3.973253
                              - 58.42107
                          created_at: '2022-03-24T21:48:38.000000Z'
                          updated_at: '2022-03-24T21:48:38.000000Z'
                          deleted_at: null
                          category: null
                          media:
                            medium: /img/beeldmerk-grijs.svg
                        -
                          id: 998
                          user_id: 585
                          title: Metaalbrander
                          slug: metaalbrander
                          description: 'Hij raakte bijna de rails nog, onafzienbaar, recht, tot aan de brug. IX. Een groot dichter zijn en dan vallen. In de tram tegenover hem. De huizen waren alle donker en verlaten. Een dame van ''t.'
                          translated_title: null
                          translated_description: null
                          type: Offered
                          venue: null
                          street: 'van den Bergring'
                          postcode: 6538RV
                          city: Zijdewind
                          country: nl
                          location:
                            type: Point
                            coordinates:
                              - 3.176995
                              - 41.359547
                          created_at: '2022-03-24T21:48:38.000000Z'
                          updated_at: '2022-03-24T21:48:38.000000Z'
                          deleted_at: null
                          category: null
                          media:
                            medium: /img/beeldmerk-grijs.svg
                        -
                          id: 997
                          user_id: 719
                          title: Schoolbegeleider
                          slug: schoolbegeleider
                          description: 'Als de eieren in ''t water een eindje van elkaar, met melkglas van boven, fel wit, een prentje om "5 October" onder te schrijven. Er was een kleinigheid op die en die geen vonkje leven in ''t.'
                          translated_title: null
                          translated_description: null
                          type: Offered
                          venue: null
                          street: 'Rahajoe genaamd en geschreven ten Kateweg'
                          postcode: 7312DG
                          city: Mariënheem
                          country: nl
                          location:
                            type: Point
                            coordinates:
                              - 5.317664
                              - 57.052107
                          created_at: '2022-03-24T21:48:38.000000Z'
                          updated_at: '2022-03-24T21:48:38.000000Z'
                          deleted_at: null
                          category: null
                          media:
                            medium: /img/beeldmerk-grijs.svg
                        -
                          id: 996
                          user_id: 332
                          title: Crècheleidster
                          slug: crecheleidster
                          description: 'Hij was toch vast wel een potje bier lusten", zei Japi en leunde z''n hoofd had. "Goddank", zei i toen. "Dat heb ik ook neerzie op Dora, die ikzelf ben, een vrouw nu, een meisje, zoolang de genade.'
                          translated_title: null
                          translated_description: null
                          type: Wanted
                          venue: null
                          street: 'van Daalsteeg'
                          postcode: 6942LX
                          city: Hoenderloo
                          country: nl
                          location:
                            type: Point
                            coordinates:
                              - 5.614614
                              - 52.496599
                          created_at: '2022-03-24T21:48:38.000000Z'
                          updated_at: '2022-03-24T21:48:38.000000Z'
                          deleted_at: null
                          category: null
                          media:
                            medium: /img/beeldmerk-grijs.svg
                        -
                          id: 995
                          user_id: 516
                          title: Poepruimer
                          slug: poepruimer
                          description: 'Er was geen denken aan, dat onder een lantaarn zag ze den grond voer. De kerels werden toen kwaad en een grimmig boek schreef, dat ''m in eens zag ze ''t een zinnelooze optocht, die ''m droefgeestig.'
                          translated_title: null
                          translated_description: null
                          type: Wanted
                          venue: null
                          street: Everssteeg
                          postcode: 5268GE
                          city: Wânswert
                          country: nl
                          location:
                            type: Point
                            coordinates:
                              - 3.307557
                              - 55.781865
                          created_at: '2022-03-24T21:48:38.000000Z'
                          updated_at: '2022-03-24T21:48:38.000000Z'
                          deleted_at: null
                          category: null
                          media:
                            medium: /img/beeldmerk-grijs.svg
                        -
                          id: 994
                          user_id: 757
                          title: Vulkanoloog
                          slug: vulkanoloog-1
                          description: 'Uren": "Hoe gaan de uren zoo zwaar met loggen tred". "Die Kreuzfahrer": "Dort unten lag die heilge Stadt in ihrer Glorie". Dat was ik daarbij. Vroolijk scheen het zonnetje als ''t kan, kom ik.'
                          translated_title: null
                          translated_description: null
                          type: Wanted
                          venue: null
                          street: Kalloestraat
                          postcode: 2022RM
                          city: Marken
                          country: nl
                          location:
                            type: Point
                            coordinates:
                              - 3.490731
                              - 48.351988
                          created_at: '2022-03-24T21:48:38.000000Z'
                          updated_at: '2022-03-24T21:48:38.000000Z'
                          deleted_at: null
                          category: null
                          media:
                            medium: /img/beeldmerk-grijs.svg
                        -
                          id: 993
                          user_id: 36
                          title: Lijstenmaker
                          slug: lijstenmaker
                          description: 'Coba: "Ik geloof uit Shanghai, is ''t niet. En in den rok en toen had dat zoo dikwijls geroepen wordt. En dan kwam i daar altijd zoo stond, gewoon bespottelijk. De andere meisjes in Amsterdam. Oogen.'
                          translated_title: null
                          translated_description: null
                          type: Wanted
                          venue: null
                          street: Wolterssingel
                          postcode: 5298AL
                          city: Tzum
                          country: nl
                          location:
                            type: Point
                            coordinates:
                              - 4.313058
                              - 40.452482
                          created_at: '2022-03-24T21:48:38.000000Z'
                          updated_at: '2022-03-24T21:48:38.000000Z'
                          deleted_at: null
                          category: null
                          media:
                            medium: /img/beeldmerk-grijs.svg
                        -
                          id: 992
                          user_id: 276
                          title: Buitendienstmedewerker
                          slug: buitendienstmedewerker-2
                          description: 'Ik wilde wel, maar ik wist niet meer over zichzelf. Ze zat zoo als wij harder waren dan het kapitalistische gemoed en niets meer te merken, zóó had hij de rails nog, onafzienbaar, recht, tot aan de.'
                          translated_title: null
                          translated_description: null
                          type: Offered
                          venue: null
                          street: 'van Hollandring'
                          postcode: 7315CW
                          city: Rhenen
                          country: nl
                          location:
                            type: Point
                            coordinates:
                              - 3.144453
                              - 44.923741
                          created_at: '2022-03-24T21:48:38.000000Z'
                          updated_at: '2022-03-24T21:48:38.000000Z'
                          deleted_at: null
                          category: null
                          media:
                            medium: /img/beeldmerk-grijs.svg
                        -
                          id: 991
                          user_id: 376
                          title: Mineralenbewerker
                          slug: mineralenbewerker-1
                          description: 'Af en toe ging die z''n hand aangeraakt en gedacht: "hij weet niet waar ''t zeil van een jaar is 365 dagen, tien jaar geleden geloeid had in Amsterdam door, waar ze allebei uit en zoende ''m niet op.'
                          translated_title: null
                          translated_description: null
                          type: Offered
                          venue: null
                          street: Jansenweg
                          postcode: 8141HR
                          city: Pietersbierum
                          country: nl
                          location:
                            type: Point
                            coordinates:
                              - 4.735218
                              - 50.952019
                          created_at: '2022-03-24T21:48:38.000000Z'
                          updated_at: '2022-03-24T21:48:38.000000Z'
                          deleted_at: null
                          category: null
                          media:
                            medium: /img/beeldmerk-grijs.svg
                        -
                          id: 990
                          user_id: 640
                          title: Beenhouwer
                          slug: beenhouwer-1
                          description: 'Maar terwijl meneer afstapte en zij uit de deur open en zat met mijn schoenen tot ze wakker werd doordat ze te veel werd "kwam i de centen van de kamer, ik denk dat we een prachtig stel kerels.'
                          translated_title: null
                          translated_description: null
                          type: Offered
                          venue: null
                          street: 'van Northeimhof'
                          postcode: 2531BH
                          city: Baambrugge
                          country: nl
                          location:
                            type: Point
                            coordinates:
                              - 5.994696
                              - 50.046672
                          created_at: '2022-03-24T21:48:38.000000Z'
                          updated_at: '2022-03-24T21:48:38.000000Z'
                          deleted_at: null
                          category: null
                          media:
                            medium: /img/beeldmerk-grijs.svg
                        -
                          id: 989
                          user_id: 129
                          title: Slachter
                          slug: slachter-2
                          description: 'Cuneratoren, de bloeiende accacia''s en de bedrijfsleer, die vindt, dat je toch niets. Z''n tractement beurt-i met een boekhouder in Amsterdam en overal ging ''t verkeer z''n gang, alsof er bloemen.'
                          translated_title: null
                          translated_description: null
                          type: Wanted
                          venue: null
                          street: Wooninghof
                          postcode: 3985SG
                          city: Wervershoof
                          country: nl
                          location:
                            type: Point
                            coordinates:
                              - 4.207293
                              - 58.343715
                          created_at: '2022-03-24T21:48:38.000000Z'
                          updated_at: '2022-03-24T21:48:38.000000Z'
                          deleted_at: null
                          category: null
                          media:
                            medium: /img/beeldmerk-grijs.svg
                        -
                          id: 988
                          user_id: 6
                          title: Bouwpromotor
                          slug: bouwpromotor-1
                          description: 'En langer. Nu ligt de brug over den weg, die golvend glansde, al die andere is Graafland. Ik ken je me toch liever dan die mooie wijze heeren. ''t Spijt me dat je worst in huis te halen, toen ik aan.'
                          translated_title: null
                          translated_description: null
                          type: Wanted
                          venue: null
                          street: 'van de Walsingel'
                          postcode: 7314BK
                          city: Nieuw-Weerdinge
                          country: nl
                          location:
                            type: Point
                            coordinates:
                              - 3.190464
                              - 47.591942
                          created_at: '2022-03-24T21:48:38.000000Z'
                          updated_at: '2022-03-24T21:48:38.000000Z'
                          deleted_at: null
                          category: null
                          media:
                            medium: /img/beeldmerk-grijs.svg
                        -
                          id: 987
                          user_id: 371
                          title: Kok
                          slug: kok-1
                          description: 'Kees had ook een boel dingen, die erg waar zijn we?" dan moest je mekaar vertellen, je kende mekaar nog zoo heelemaal niet. Hij verlangt zelfs niet naar zes uur. Dat geeft toch niets. Z''n tractement.'
                          translated_title: null
                          translated_description: null
                          type: Offered
                          venue: null
                          street: Ramautarhof
                          postcode: 6915TT
                          city: Groenekan
                          country: nl
                          location:
                            type: Point
                            coordinates:
                              - 5.017557
                              - 53.229535
                          created_at: '2022-03-24T21:48:38.000000Z'
                          updated_at: '2022-03-24T21:48:38.000000Z'
                          deleted_at: null
                          category: null
                          media:
                            medium: /img/beeldmerk-grijs.svg
                        -
                          id: 986
                          user_id: 751
                          title: Receptionist
                          slug: receptionist-2
                          description: 'Is zoo raar van binnen." "Je ruikt tenminste degelijk naar jenever", zei ik. Toen schoven wij de wereld, voor God, voor ons uit de verte het nabije was geworden en de zon prachtig opkwam, is hij te.'
                          translated_title: null
                          translated_description: null
                          type: Wanted
                          venue: null
                          street: Arslanweg
                          postcode: 6021BT
                          city: Geersdijk
                          country: nl
                          location:
                            type: Point
                            coordinates:
                              - 3.34537
                              - 41.548597
                          created_at: '2022-03-24T21:48:38.000000Z'
                          updated_at: '2022-03-24T21:48:38.000000Z'
                          deleted_at: null
                          category: null
                          media:
                            medium: /img/beeldmerk-grijs.svg
                        -
                          id: 985
                          user_id: 343
                          title: Dozenmaker
                          slug: dozenmaker-2
                          description: 'Maar er kwam nooit wat je doen moest, haal voor mijn rekening een half maatje ouwe klare, ik zal ''t je bij gelegenheid wel teruggeven." Ik stond achter hem: "Consummatum est, ga mee en zie." XII. Om.'
                          translated_title: null
                          translated_description: null
                          type: Offered
                          venue: null
                          street: 'Spring in ‘t Veldboulevard'
                          postcode: 4261ZC
                          city: Hasselt
                          country: nl
                          location:
                            type: Point
                            coordinates:
                              - 4.236726
                              - 42.449669
                          created_at: '2022-03-24T21:48:38.000000Z'
                          updated_at: '2022-03-24T21:48:38.000000Z'
                          deleted_at: null
                          category: null
                          media:
                            medium: /img/beeldmerk-grijs.svg
                        -
                          id: 984
                          user_id: 222
                          title: Grondstewardess
                          slug: grondstewardess
                          description: 'Bekker hadden alle drie al zoo vaak naar ''t gele licht van de slaapkamerdeur kwam licht. Haastig gooide ze de kamer binnen gingen. Daar moest ze doen? "Kom Bobi, maak voort, wacht, zal ik je.'
                          translated_title: null
                          translated_description: null
                          type: Wanted
                          venue: null
                          street: 'van de Polhof'
                          postcode: 4698BG
                          city: 'De Zilk'
                          country: nl
                          location:
                            type: Point
                            coordinates:
                              - 5.655145
                              - 53.000122
                          created_at: '2022-03-24T21:48:38.000000Z'
                          updated_at: '2022-03-24T21:48:38.000000Z'
                          deleted_at: null
                          category: null
                          media:
                            medium: /img/beeldmerk-grijs.svg
                        -
                          id: 983
                          user_id: 681
                          title: Bestuurder
                          slug: bestuurder-1
                          description: 'Jan, die oue heer. Dood hè? Al lang dood. Natuurlijk. Waar kom je vandaan, Hoyer? Wat heb ik er over te zien komt achter de blauwe band der voetpaden en kleine boompjes met schel oranjegele.'
                          translated_title: null
                          translated_description: null
                          type: Offered
                          venue: null
                          street: 'van de Greefsingel'
                          postcode: 3608VJ
                          city: Oude-Tonge
                          country: nl
                          location:
                            type: Point
                            coordinates:
                              - 4.877954
                              - 59.077936
                          created_at: '2022-03-24T21:48:38.000000Z'
                          updated_at: '2022-03-24T21:48:38.000000Z'
                          deleted_at: null
                          category: null
                          media:
                            medium: /img/beeldmerk-grijs.svg
                      first_page_url: 'https://goods4ukraine.kobalt/api/ads?page=1'
                      from: 1
                      last_page: 41
                      last_page_url: 'https://goods4ukraine.kobalt/api/ads?page=41'
                      links:
                        -
                          url: null
                          label: '&laquo; Vorige'
                          active: false
                        -
                          url: 'https://goods4ukraine.kobalt/api/ads?page=1'
                          label: '1'
                          active: true
                        -
                          url: 'https://goods4ukraine.kobalt/api/ads?page=2'
                          label: '2'
                          active: false
                        -
                          url: 'https://goods4ukraine.kobalt/api/ads?page=3'
                          label: '3'
                          active: false
                        -
                          url: 'https://goods4ukraine.kobalt/api/ads?page=4'
                          label: '4'
                          active: false
                        -
                          url: 'https://goods4ukraine.kobalt/api/ads?page=5'
                          label: '5'
                          active: false
                        -
                          url: 'https://goods4ukraine.kobalt/api/ads?page=6'
                          label: '6'
                          active: false
                        -
                          url: 'https://goods4ukraine.kobalt/api/ads?page=7'
                          label: '7'
                          active: false
                        -
                          url: 'https://goods4ukraine.kobalt/api/ads?page=8'
                          label: '8'
                          active: false
                        -
                          url: 'https://goods4ukraine.kobalt/api/ads?page=9'
                          label: '9'
                          active: false
                        -
                          url: 'https://goods4ukraine.kobalt/api/ads?page=10'
                          label: '10'
                          active: false
                        -
                          url: null
                          label: ...
                          active: false
                        -
                          url: 'https://goods4ukraine.kobalt/api/ads?page=40'
                          label: '40'
                          active: false
                        -
                          url: 'https://goods4ukraine.kobalt/api/ads?page=41'
                          label: '41'
                          active: false
                        -
                          url: 'https://goods4ukraine.kobalt/api/ads?page=2'
                          label: 'Volgende &raquo;'
                          active: false
                      next_page_url: 'https://goods4ukraine.kobalt/api/ads?page=2'
                      path: 'https://goods4ukraine.kobalt/api/ads'
                      per_page: 25
                      prev_page_url: null
                      to: 25
                      total: 1005
                  location:
                    type: string
                    example: null
                  sortedBy:
                    type: string
                    example: created_at
      tags:
        - Endpoints
      security: []
  /api/categories:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  categories:
                    -
                      id: 1
                      name:
                        en: Clothing
                        fr: Vêtements
                        nl: Kleding
                        ru: одежда
                        ua: одяг
                      icon: null
                      color: null
                      created_at: '2022-03-28T09:40:22.000000Z'
                      updated_at: '2022-06-23T11:46:16.000000Z'
                    -
                      id: 2
                      name:
                        en: Toys
                        fr: Jouets
                        nl: Speelgoed
                        ru: игрушки
                        ua: іграшки
                      icon: null
                      color: null
                      created_at: '2022-03-28T09:40:22.000000Z'
                      updated_at: '2022-06-23T11:46:16.000000Z'
                    -
                      id: 3
                      name:
                        en: Bicycles
                        fr: Vélos
                        nl: Fietsen
                        ru: велосипеды
                        ua: велосипеди
                      icon: null
                      color: null
                      created_at: '2022-04-02T07:25:33.000000Z'
                      updated_at: '2022-06-23T11:46:16.000000Z'
                    -
                      id: 4
                      name:
                        en: 'to Sleep'
                        fr: Dormir
                        nl: Slapen
                        ru: спальный
                        ua: спальний
                      icon: null
                      color: null
                      created_at: '2022-04-02T07:25:33.000000Z'
                      updated_at: '2022-06-23T11:46:16.000000Z'
                    -
                      id: 5
                      name:
                        en: Furniture
                        fr: Meubles
                        nl: Meubels
                        ru: мебель
                        ua: меблі
                      icon: null
                      color: null
                      created_at: '2022-04-02T07:25:33.000000Z'
                      updated_at: '2022-06-23T11:46:16.000000Z'
                    -
                      id: 6
                      name:
                        en: Koken
                        nl: Sleeping
                        ru: 'приготовление еды'
                        ua: 'приготування їжі'
                      icon: null
                      color: null
                      created_at: '2022-04-02T07:25:33.000000Z'
                      updated_at: '2022-04-02T07:25:33.000000Z'
                    -
                      id: 7
                      name:
                        en: Other
                        fr: Autres
                        nl: Overig
                        ru: Другой
                        ua: інший
                      icon: null
                      color: null
                      created_at: '2022-04-02T07:25:33.000000Z'
                      updated_at: '2022-06-23T11:46:16.000000Z'
                    -
                      id: 8
                      name:
                        en: Cook
                        fr: Cuisine
                        nl: Koken
                        ru: 'приготовление еды'
                        ua: 'приготування їжі'
                      icon: null
                      color: null
                      created_at: '2022-06-23T11:46:16.000000Z'
                      updated_at: '2022-06-23T11:46:16.000000Z'
                    -
                      id: 9
                      name:
                        en: 'Baby items'
                        fr: 'Articles pour bébés'
                        nl: 'Baby artikelen'
                        ru: 'детские предметы'
                        ua: 'дитячі речі'
                      icon: null
                      color: null
                      created_at: '2022-06-23T11:46:16.000000Z'
                      updated_at: '2022-06-23T11:46:16.000000Z'
                    -
                      id: 10
                      name:
                        en: Electronics
                        fr: Électronique
                        nl: Elektronica
                        ru: Электроника
                        ua: Електроніка
                      icon: null
                      color: null
                      created_at: '2022-06-23T11:46:16.000000Z'
                      updated_at: '2022-06-23T11:46:16.000000Z'
                properties:
                  categories:
                    type: array
                    example:
                      -
                        id: 1
                        name:
                          en: Clothing
                          fr: Vêtements
                          nl: Kleding
                          ru: одежда
                          ua: одяг
                        icon: null
                        color: null
                        created_at: '2022-03-28T09:40:22.000000Z'
                        updated_at: '2022-06-23T11:46:16.000000Z'
                      -
                        id: 2
                        name:
                          en: Toys
                          fr: Jouets
                          nl: Speelgoed
                          ru: игрушки
                          ua: іграшки
                        icon: null
                        color: null
                        created_at: '2022-03-28T09:40:22.000000Z'
                        updated_at: '2022-06-23T11:46:16.000000Z'
                      -
                        id: 3
                        name:
                          en: Bicycles
                          fr: Vélos
                          nl: Fietsen
                          ru: велосипеды
                          ua: велосипеди
                        icon: null
                        color: null
                        created_at: '2022-04-02T07:25:33.000000Z'
                        updated_at: '2022-06-23T11:46:16.000000Z'
                      -
                        id: 4
                        name:
                          en: 'to Sleep'
                          fr: Dormir
                          nl: Slapen
                          ru: спальный
                          ua: спальний
                        icon: null
                        color: null
                        created_at: '2022-04-02T07:25:33.000000Z'
                        updated_at: '2022-06-23T11:46:16.000000Z'
                      -
                        id: 5
                        name:
                          en: Furniture
                          fr: Meubles
                          nl: Meubels
                          ru: мебель
                          ua: меблі
                        icon: null
                        color: null
                        created_at: '2022-04-02T07:25:33.000000Z'
                        updated_at: '2022-06-23T11:46:16.000000Z'
                      -
                        id: 6
                        name:
                          en: Koken
                          nl: Sleeping
                          ru: 'приготовление еды'
                          ua: 'приготування їжі'
                        icon: null
                        color: null
                        created_at: '2022-04-02T07:25:33.000000Z'
                        updated_at: '2022-04-02T07:25:33.000000Z'
                      -
                        id: 7
                        name:
                          en: Other
                          fr: Autres
                          nl: Overig
                          ru: Другой
[...]
